.button{
    display: inline-block;
    font-size: 16.5px;
    font-family: "Lato", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    color: var(--color-main-text);
    padding: 15px 30px;
    border-radius: 25px;
    margin-top: 25px;
}
.button:hover{
    transform: 10;
    text-decoration: none;
    display: inline-block;
    color: var(--color-main-text);
}