@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --color-main-text: #ffffff;
    --red-for-button:#e7272d;
    --red-for-text:rgb(231, 39, 45);
    --yellow-background:#fbbe36;
    --yellow-background-back:#efad18;
    --main-text-gray:rgb(103, 103, 103);
    --dark-gray:rgb(79, 80, 71);
    --six-six-gray:rgb(69, 69, 69);
    --brow-site:rgb(40, 38, 35);

    --font-main: 'Lato', sans-serif; /* Основний шрифт для загального тексту */
    --font-heading: 'Rubik', sans-serif; /* Шрифт для заголовків */
    --for-red-font:"Permanent Marker", cursive;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

.container {
  max-width: 1200px;
  padding: 15px;
  margin: auto;
}

ul {
  margin: 0;
}
li {
  list-style-type: none;
}
p{
  margin: 0;
}

.red-text{
  color: var(--red-for-text);
  font-family: var(--for-red-font);
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
}
.title{
  font-family: var(--font-heading);
  font-size: 38px;
  font-weight: 700;
  color: var(--brow-site);
  margin-bottom: 20px;
}

.subtitle{
  color: var(--dark-gray);
  font-family: var(--font-main);
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}
.main-text{
  color: var(--main-text-gray);
  font-family: var(--font-main);
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 20px;
}
.main-text-bolt{
  color: var(--six-six-gray);
  font-family: var(--font-main);
  font-size: 17px;
  font-weight: 700;
}
@media (min-width: 950px){
  .title{
    font-size: 56px;
  }
}