
.header {
    background: var(--yellow-background);
}

.header__navigation-drop_down_menu{
    display: flex;
    position: relative;
    z-index: 50;
    right: 18px;
    align-items: center;
    justify-content: flex-start;
    width: 24px;
    height: 16px;
}
.header__navigation-drop_down_menu span{
    height: 2px;
    width: 100%;
    transform:scale(1);
    background-color: var(--color-main-text);
}
.header__navigation-drop_down_menu::before, .header__navigation-drop_down_menu::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: var(--color-main-text);
    transition: all 0.3s ease 0s;
}
.header__navigation-drop_down_menu::before{
    top: 0;
}
.header__navigation-drop_down_menu::after{
    bottom: 0;
}
.header__navigation-drop_down_menu.active span{
    transform: scale(0);
}
.header__navigation-drop_down_menu.active::before{
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}
.header__navigation-drop_down_menu.active::after{
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}
.button_open{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--bacground-when-button-active);
    flex-direction: column;
}

.header__navigation_logo{
    width: 252px;
    z-index: 50;
}

.header__introdusion_media_link{
    width: 32px;
}

.header__navigation{
    display: flex;
    width: 90%;
    justify-content: space-between;
    text-align: center;
    margin: auto;
    padding-top: 30px;
    align-items: center;
}

.header__info{
    display: none;
    background: var(--yellow-background-back);
    width: 120%;
}
.header__navigation_menu{
    display: none;
}
.button_open{
    width: 100%;
    height: 100%;
    background: var(--yellow-background);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header__navigation_menu_pages_link{
    font-family: var(--font-main);
    font-size: 17px;
    font-weight: 700;
    color: var(--dark-gray);
    padding: 10px 0;
}
.header__read-about_info{
    color: var(--color-main-text);
    font-family: var(--font-heading);
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 30px;
}
.header__read-about{
    width: 90%;
    margin: auto;
    padding: 100px 0 90px 0;
}
.header__read-about_call-to-us_button{
    background: var(--red-for-button);
}
.header__read-about_call-to-us img{
    width: 50px;
}
.header__read-about_call-to-us_more{
    display: flex;
    width: 210px;
    justify-content: space-between;
    align-items: center;
}
.header__read-about_call-to-us_descrive_1{
    color: var(--color-main-text);
    font-family: var(--font-main);
    font-size: 17px;
    font-weight: 700;
}
.header__read-about_call-to-us_descrive_2{
    font-size: 17px;
}

@media (max-width: 950px) {
    .header__navigation_menu_pages{
        display: flex;
        flex-direction: column;
        position: relative;
        top: 100px;
    }
    .header__introdusion_menu_info, .header__introdusion_menu_media{
        position: relative;
        top: 100px;
    }
    .header__introdusion_menu_info p, .header__introdusion_menu_info a{
        color: var(--color-main-text);
        font-size: 14px;
        font-family: var(--font-main);
        font-weight: 700;
        padding: 10px 0;
    }
    .header__introdusion_menu_media{
        padding-top: 15px;
    }
    .header__read-about_call-to-us_button{
        margin-bottom: 35px;
    }
}
@media (min-width: 680px) {
    .header__read-about_info, .header__read-about_introduction{
        width: 50%;
    }
}
@media (min-width: 950px) {
    .header {
        background-image: url("../img/backgroundheader.jfif");
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center;
    }
    .header__introdusion_menu_info{
        display: none;
    }
    .header__introdusion_menu_media{
        display: flex;
        width: 116px;
        justify-content: space-between;
    }
    .back{
        background: var(--yellow-background);
        height: 51px;
        display: flex;
        align-items: center;
    }
    .header__info{
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header__navigation-drop_down_menu{
        display: none;
    }
    .header__info_street, .header__indo_email, .header__info_time-work{
        color: var(--color-main-text);
        font-family: var(--font-main);
        font-size: 15px;
        font-weight: 700;
    }
    .header__navigation_menu_pages{
        width: 380px;
        display: flex;
        justify-content: space-between;
    }
    .header__navigation_menu{
        display: flex;
        flex-direction: row;
        width: 60%;
        justify-content: space-between;
        align-items: center;
    }
    .header__read-about_call-to-us{
        margin-top: 55px;
        display: flex;
        width: 380px;
        justify-content: space-between;
        align-items: center;
    }
    .header__read-about_call-to-us_button{
        margin-top: 0;
    }
    .header__read-about_info{
        font-family: var(--font-heading);
        font-size: 70px;
    }
}
@media (min-width: 12000px) {
    .container{
        width: 1200px;
        margin: auto;
    }
}
