.favorite-burger__about-us_favorite_more-about-us{
    background-color: var(--red-for-button);
    margin-bottom: 30px;
}
.favorite-burger__about-us_list{
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 0 12px 12px 0;
}

.favorite-burger__about-us_big-list{
    display: flex;
    flex-wrap: wrap;

}
.favorite-burger{
    width: 90%;
    margin: auto;
}
.favorite-burger__img{
    margin: 90px 0 50px 0;
}
.burger {
    background-image: url("../img/backgroundS2.jfif");
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
}
.burger-off{
   background-color: var(--yellow-background); 
}
.burger-off_title{
    color: var(--color-main-text);
}
.burger-off__main-text{
    color: var(--color-main-text);
    width: 300px;
}
.burger-off__button{
    background: var(--red-for-button);
    margin-bottom: 20px;
}
.burger-off__button:hover{
    background: var(--brow-site);
}
.burger-off__block{
    width: 90%;
    margin: auto;
}
.burger-off_title{
    font-size: 30px;
    padding: 30px 0 0 0;
}
.burger-off__main-text{
    margin: 0 0 10px 0;
}
.meat-quality__recipte{
    width: 90%;
    margin: 60px auto;
}
.meat-quality__recipte-us_list{
    display: flex;
    gap: 8px;
    align-items: flex-start;
    line-height: 1.2;
    margin-top: 12px;
}
.meat-quality__recipte-us_list p{
    max-width: 200px;
}
.meat-quality__recipte_unter-text{
    margin-top: 20px;
}
.meat-quality__burger{
    margin: 0 0 70px 0;
}
.box{
    width: 90%;
    margin: 30px auto;
    height: calc(100% + 100px);
    border-radius: 10px;
    background: var(--color-main-text);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.services__catering_sup, .services__franchising_sup{
    display: flex;
    gap: 8px;
    align-items: center;
    margin: 0 0 20px 0;
}
.services__franchising_info, .services__catering_info{
    margin: auto;
    width: 90%;
}
.services__franchising_sup .main-text{
    margin: 0;
}
.services__catering_sup .main-text{
    margin: 0;
}
.center{
    text-align: center;
    display: block;
    width: 90%;
    margin: 15px auto;
}
.services{
    background-image: url("../img/back_s4.jfif");
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
}
.services__franchising_img img{
    border-radius: 10px 10px 0 0;
}
.services__catering_img img{
    border-radius: 10px 10px 0 0;
}
.services__catering_info_button, .services__franchising_info_button{
    background: var(--yellow-background);
    margin: 0 0 30px 0;
}
.services__catering_info_button:hover, .services__franchising_info_button:hover{
    background: var(--brow-site);
}
.services{
    padding: 30px 0;
}
.weekly-schedule__cart-work-day div{
    background: var(--color-main-text);
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
    height: 329px;
    text-align: center;
    border-radius: 10px;
}
.weekly-schedule__cart-work-day_button{
    background: var(--red-for-button);
    padding: 10px 30px;
}
.weekly-schedule{
    background: #fbbe36;
}
.name-day{
    font-size: 16px;
    padding-top: 30px;
    margin-bottom: 10px;
}
.number-day{
    font-size: 30px;
    color: var(--yellow-background);
}
.name-street, .name-chaf{
    font-size: 17px;
    padding: 0;
    margin: 0;
}
.weekly-schedule{
    padding: 110px 0 90px 0;
}
.weekly{
    color: var(--color-main-text);
    font-size: 38px;
    width: 90%;
    text-align: center;
    margin: 0 auto 0;
}
.wonder{
    font-size: 20px;
    text-align: center;
    width: 90%;
    margin: 0 auto 30px;
}
.weekly-schedule img{
    width: 50px;
    margin-right: 10px;
}
.no-p{
    margin: 0;
}
.w-90{
    width: 90%;
    margin: 20px auto 20px;
    justify-content: flex-start;
}
.weekly-schedule__cart-work-day{
    margin-top: 60px;
}
@media (min-width: 860px){
    .favorite-burger__about-us{
        width: 44.5%;
    }
    .favorite-burger__img{
        width: 44.5%;
        margin: 0;
    }
    .favorite-burger{
        margin: 95px auto;
        display: flex;
        align-items: flex-start;
    }
    .favorite-burger__about-us_favorite_more-about-us{
        margin: 0;
    }
    .burger-off__block{
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .burger-off_title{
        font-size: 36px;
    }
    .burger-off__main-text{
        width: 360px;
    }
    .meat-quality__burger{
        width: 50%;;
    }
    .meat-quality__burger img {
        height: calc(100% + 6%);
        object-fit: cover;
      }
    .meat-quality__recipte{
        width: 50%;
        margin: 6%;
    }
    .meat-quality{
        display: flex;
    }
    .burger-off_title{
        margin: 0;
        padding: 0;
    }
    .burger-off__main-text{
        margin: 0;
        padding: 0;
    }
    .services__franchising, .services__catering{
        display: flex;
    }
    .services__catering{
        flex-direction: row-reverse;
    }
    .services__franchising_img img{
        border-radius: 10px 0 0 10px;
        height: 100%;
    }
    .services__catering_img img{
        border-radius: 0 10px 10px 0;
        justify-content: end;
        height: 100%;
    }
    .services__franchising_info, .services__catering_info{
        margin: 3% 5%;
    }
    .weekly-schedule__cart-work-day div{
        width: 45%;
    }
    .weekly-schedule__cart-work-day{
        display: flex;
        width: 90%;
        justify-content: space-between;
        margin: 60px auto 0;
    }
    .weekly{
        text-align: left;
    }
    .wonder{
        text-align: left;
    }
}
@media (min-width: 1100px){
    .weekly-s{
        width: 300px;
    }

    .containerv2{
        display: flex;
        align-items: center;
        width: 90%;
        justify-content: space-between;
        margin: auto;
    }
    .weekly-schedule__cart-work-day{
        margin-left: 0;
        margin-right: 0;
    }
    .weekly-schedule__cart-work-day div{
        width: 40%;
    }
    .weekly-schedule__cart-work-day{
        width: 70%;
    }
    .weekly-schedule{
        padding: 0;
    }
}